/*
  -- GLOBAL --
*/

html {
  width: 100%;

  display: grid;
  justify-content: center;

  font-size: 62.5%;
  
  background-image: radial-gradient(#f9f9f9 16%, transparent 16%);
  background-color: rgba(255, 255, 255, 0.966);
  background-size: 16px 16px;
  background-attachment: fixed;
}

body {
  margin: 7.2rem 1.6rem 11.2rem 1.6rem;
  height: auto;
  max-width: 75ch;

  padding: 2.4rem 4.8rem;

  font-family: "Open Sans", Helvetica, Arial;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;

  background-color: #f4ecb7;
  background-image: linear-gradient(0deg, #f2f2f2 2.94%, #fff9cf 2.94%, #fff9cf 50%, #f2f2f2 50%, #f2f2f2 52.94%, #fff9cf 52.94%, #fff9cf 100%);
  background-size: 68.00px 68.00px;

  border-top: #68614e solid 7.2rem;
  border-left: #ccc3aa solid .1rem;
  border-right: #ccc3aa solid .1rem;
  border-bottom: #ccc3aa solid .1rem;
  border-radius: .4rem;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

}

p, h1 {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

p {
  color:rgb(43, 42, 42);
  line-height: 3.2rem;
  margin-bottom: 1.6rem;;
}

p strong {
  font-size: 2.4rem;
}

p.lead {
  font-size: 11.2rem;
  font-weight: 100;

  letter-spacing: -1.6px;
  line-height: 13.6rem;

  margin-bottom: 11.2rem;

  color: #000;
}

p.footer {
  margin-top: 11.2rem;
  font-size: 1rem;
  text-align: center;
}

h1 {
  font-size: 1.4rem;
  font-weight: 400;

  color: rgb(62, 56, 42);

  padding-bottom: 3.2rem;
}

.center {
  justify-content: center;
  text-align: center;
}

a.button {
  display:inline-block;
  padding: 1.6rem 2.4rem;
  margin: 7.2rem 0 11.2rem 0;
  border-radius: 0.4rem;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:600;
  font-size: 2rem;
  color:#fff;
  background-color:#2557D6;
  box-shadow:inset 0 -0.8rem 0 -0.4rem rgba(0, 0, 0, 0.4);
  text-align:center;
  position:relative;
  width: fit-content;
}

a.button:active {
  top:0.1em;
}

@media all and (max-width:30em) {
  a.button {
    display:block;
    margin:0.4em auto;
  }
}

/*
  -- SMALL SCREENS --
*/

@media only screen and (max-width: 766px) {
  body {
    margin: 0 0 0 0;
    max-width: 100%;
    padding: 1.6rem 1.6rem;
    border-radius: 0;
    border-top: #68614e solid 4.8rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  p.lead {
    margin: 0 0 4rem 0;
    font-size: 7.2rem;
    padding: 0;
  }
  p strong {
    font-size: 2rem;
    line-height: 4.8rem;
  }
}